<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <a href="/read">read</a>
    <div class="h-screen w-full bg-gray-900">
        <form action="/create" method="post" class=" p-4 ">
            <input type="text"class="h-10 rounded-md p-2 w-60 block mt-5" placeholder="filename" name="filename">
        <input type="email" class="h-10 rounded-md p-2 w-60 block mt-5" placeholder="email" name="email">
        <input type="text" class="h-10 rounded-md p-2 w-60 block mt-5" placeholder="imageUrl" name="imageURL">
        <button type="submit" class="bg-blue-500 p-2 w-40 block mt-5 rounded-xl">crate</button>
        </form>
    </div>
    
</body>
</html>