<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gray-900 p-10">
  <a href="/" class=" text-blue-500">back to homepage</a> 
   <div class="bg-gray-900 p-10 flex flex-wrap gap-5 text-white w-full h-screen">
    <% if (Allread.length > 0) { %>
      <% Allread.map((read) => { %>
        <div class="bg-gray-800 w-60 h-80 rounded-xl p-3">
          <div class="bg-red-500 w-full h-4/5 rounded-xl">
            <img class="object-cover h-full w-full rounded-xl" src='<%= read.imageURL %>' alt="">
          </div>
          <h2 class="text-2xl pt"><%= read.filename %></h2>
          <div class=" flex justify-between item-center">
            <a href="/delete/<%=read._id%>" class="text-red-500 ">delete</a>
            <a href="/edit/<%=read._id%>" class="text-yellow-500">edit</a>
          </div>
            <!-- using id we can read and upadte a document in mongodb -->
        </div>
      <% }); %>
    <% } else { %>
      <!-- Display a message or a placeholder when Allread is empty -->
      <p>No cards to display.</p>
    <% } %>
   </div>
    
</body>
</html>